<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cats</title>
  </head>
  <body>
    <div class="img-grid">
      <img src="./img/cat1.png" alt="" width="400" height="200" />
      <img src="./img/cat2.png" alt="" width="400" height="200" />
      <img src="./img/cat3.png" alt="" width="400" height="200" />
      <img src="./img/cat4.png" alt="" width="400" height="200" />
    </div>
  </body>
</html>
