<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <div>
        <h1>
            Nawaf Alkhathami
        </h1>
        <p>
            My name is Nawaf Mesfer Alkhathami, I'm fresh graduate software engineer from King Saud Vinersity.
        </p>
        <p>
            I have interest in:
            <ul>
                <li>Web App Development.</li>
                <li>Mobile App Development.</li>
                <li>Data Science.</li>
            </ul>
        </p>
    </div>
</body>
</html>